<% layout('layouts/boilerplate') %> 

<div class="container">
  <div class="row">

    <div class="col col-md-auto">
      <div class="card text-center border-primary" style="width: 21rem;">
        <img class="card-img-top" src="/public/images/HomeImage.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">You are spontaneous?</h5>
      <p class="card-text">If so , you can dive into some​ of our locations..</p>
      <a href="/spots" class="btn btn-primary">Explore</a>
   </div>
  </div>
  </div>

  <div class="col col-md-auto">
  <div class="card text-center border-danger" style="width: 21rem;">
    <img class="card-img-top" src="/public/images/HomeImage2.jpg" alt="Card image cap">
    <div class="card-body">
     <h5 class="card-title">Know a place?</h5>
     <p class="card-text">Don`t be afraid to share it with other enthusiasts like yourself!</p>
     <a href="/spots/new" class="btn btn-primary">Create</a>
   </div>
  </div>
  </div>

<div class="col col-md-auto">
  <div class="card text-center border-success" style="width: 21rem;">
    <img class="card-img-top" src="/public/images/HomeImage3.jpg" alt="Card image cap">
    <div class="card-body">
     <h5 class="card-title">No experience?</h5>
     <p class="card-text">We`re here to help:</p><br>
     <a href="/guide" class="btn btn-primary">Learn</a>
   </div>
  </div>
</div>

</div>
</div>

