<% layout('layouts/boilerplate') %> 

    <h1>All Spots</h1><br>

    <div>
        <a href="/spots/new">Add New Spot</a>
    </div>

    <ul>
        <% for(let spot of spots){ %>
        <li><a href="/spots/<%= spot._id %>"><%= spot.title %> , <%= spot.description %> - <%= spot.location %></a></li>    
        <% } %> 
    </ul>
