<% layout('layouts/boilerplate') %> 

    <h1>All Spots</h1><br>


    <ul>
        <% for(let spot of spots){ %>
        <li><a href="/spots/<%= spot._id %>"><%= spot.title %> , <%= spot.description %> - <%= spot.location %></a></li>    
        <% } %> 
    </ul>
