<% layout('layouts/boilerplate') %> 

<h1>Make a new spot:</h1>

    <form action="/spots" method="post">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title" required><br>
      <label for="description">Description:</label><br>
      <input type="text" id="description" name="description" required><br>
      <label for="location">Location:</label><br>
      <input type="text" id="location" name="location" required><br>
      <input type="submit" value="Submit">
    </form>